.third{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 30em;
  justify-content: space-evenly;
}

.card{
  display: flex;
flex-direction: column;
align-items: center;
width: 40%;
height: auto;
justify-content: space-evenly;
}

.card-image{
  width: 100%;
  height: auto;
}

.card-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  width: 50%;
}

.cards{
  font-size: 1.7em;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 30px;
  margin-left: 30px;
  color: rgb(9, 17, 51);
}


.cards-para{
  display: flex;
  flex-direction: column;
  color: rgb(102, 115, 165);
  width: 30em;
  height: 20em;
  margin-top: 30px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}


.card-para{
  color: rgb(111, 124, 178);
  font-size: 1.em;
}

.card-paras{
  color: rgb(111, 124, 178);
  font-size: 1em;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  font-family: arial;
  font-size: 16px;
}